* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  max-width: 1240px;
  margin: 0 auto;
  background-color: #1a1a1d;
}
nav {
  border: none;
}
h1 {
  margin: 0;
  font-size: 400%;
  font-weight: 300;
  text-transform: uppercase;
  word-spacing: 6px;
  letter-spacing: 4px;

  margin-bottom: 35px;
  /* transform: translate(-15%); */
}
h2 {
  margin: 0;
  font-size: 100%;
  font-weight: 300;
  text-transform: uppercase;
  word-spacing: 5px;
  letter-spacing: 3px;
  margin-bottom: 15px;
  /* transform: translate(-10%); */
}
h3 {
  padding: 5px;
  transform: translate(2%, -3%);
}

.logo {
  width: 150px;
  /* background-color: #1a1a1d; */
  /* border-radius: 1000px; */
  margin: 3px;
}
.btn:link,
.btn:visited {
  margin-top: 35px;
  margin-bottom: 15px;

  font-family: "lato";
  font-weight: 300px;
  /* text-transform: uppercase; */
  text-decoration: none;
  border-radius: 250px;
  color: white;
  background-color: #c3073f;
  padding: 10px 40px;

  transition: background-color 0.5s;
}
.btn-click:hover,
.btn-click:active {
  background-color: #950740;
}
.main-nav {
  float: right;
  list-style: none;
  /* margin-top: 40px; */

  font-size: 100%;
}
.main-nav li {
  display: inline-block;
  margin-right: 25px;
  padding-bottom: 10px;
  text-transform: uppercase;
  transition: border-bottom 0.5s;
}
.main-nav li a:link,
.main-nav li a:visited {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  padding-bottom: 6px;
}
.main-nav li a:hover,
.main-nav li a:active {
  overflow: hidden;
  color: white;
  text-decoration: none;
  border-bottom: 2px solid #c3073f;
}

.side {
  display: inline-block;
  margin-right: 15px;
  padding-bottom: 10px;
  text-transform: uppercase;
  margin-top: 20px;
  transform: translate(20%);
  font-size: 100%;

  transition: border-bottom 0.5s;
}
.s1 {
  height: 120px;
  width: 1240px;
  border-bottom: 5px solid #950740;
}

.butt {
  background: #c3073f;
  margin-top: 10px;
  font-family: "lato";
  font-weight: 300px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 250px;
  color: white;
  padding: 10px 40px;
  border: none;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 2;
}
.hidden {
  display: none;
}
iframe {
  border: transparent;
  margin-right: 15px;
  margin-left: 15px;
}
/* ------------------------- */
/* ----------descrption boxes---------- */
/* ------------------------- */
.cast,
.description {
  border-top: 2px solid #2b2b2e;
  padding-top: 15px;
  padding: 15px;
}
.description {
  min-height: 250px;
}
#book {
  height: 90px;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 15px;
}

figure figcaption {
  margin: auto;
}
.description figure img {
  width: 150px;
}
.description figure {
  margin: 5px;
  float: left;
}
.long {
  margin-left: 180px;
}
strong {
  margin-bottom: 200px;
}
