* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  max-width: 1240px;
  margin: 0 auto;
  background-color: #1a1a1d;
}

h1 {
  margin: 0;
  font-size: 400%;
  font-weight: 300;
  text-transform: uppercase;
  word-spacing: 6px;
  letter-spacing: 4px;

  margin-bottom: 35px;
  /* transform: translate(-15%); */
}
h2 {
  margin: 0;
  font-size: 100%;
  font-weight: 300;
  text-transform: uppercase;
  word-spacing: 5px;
  letter-spacing: 3px;
  margin-bottom: 15px;
  /* transform: translate(-10%); */
}
h3 {
  padding: 5px;
  transform: translate(2%, -3%);
}

.logo {
  width: 150px;
  /* background-color: #1a1a1d; */
  /* border-radius: 1000px; */
  margin: 3px;
}
.btn:link,
.btn:visited {
  margin-top: 35px;
  margin-bottom: 15px;

  font-family: "lato";
  font-weight: 300px;
  /* text-transform: uppercase; */
  text-decoration: none;
  border-radius: 250px;
  color: white;
  background-color: #c3073f;
  padding: 10px 40px;

  transition: background-color 0.5s;
}
.btn-click:hover,
.btn-click:active {
  background-color: #950740;
}
.main-nav {
  float: right;
  list-style: none;
  margin-top: 50px;

  font-size: 100%;
}
.main-nav li {
  display: inline-block;
  margin-right: 25px;
  padding-bottom: 10px;
  text-transform: uppercase;
  transition: border-bottom 0.5s;
}
.main-nav li a:link,
.main-nav li a:visited {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  padding-bottom: 6px;
}
.main-nav li a:hover,
.main-nav li a:active {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid #c3073f;
}
nav a:link,
nav a:visited {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  padding-bottom: 6px;
}
nav a:hover,
nav a:active {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid #c3073f;
}
.side {
  display: inline-block;
  margin-right: 15px;
  padding-bottom: 10px;
  text-transform: uppercase;
  margin-top: 20px;
  transform: translate(20%);
  font-size: 100%;

  transition: border-bottom 0.5s;
}
.s1 {
  height: 120px;
  width: 100%;
  border-bottom: 5px solid #950740;
}
user:link,
.user:visited,
.user:hover,
.user:active {
  color: white;
  text-decoration: none;
}
.user:hover .user:active {
  border-bottom: 2px solid #950740;
}
.iconic {
  float: left;
  margin-right: 10px;
}
.member {
  background-color: rgba(24, 24, 24, 0.589);
  position: relative;
  width: 370px;
  z-index: 15;
  position: absolute;
  transform: translate(300%, 5%);
  padding: 25px;
  overflow: hidden;
  font-size: 80%;
}
.member div {
  margin: 15px;
}
/* -------------------------------- */
/* -----------LOGIN BOX PROPERTIES------------ */
/* -------------------------------- */
/*
.modal {
  z-index: 15;
  position: absolute;
  background-color: rgba(24, 24, 24, 0.589);

  width: 370px;
  height: 400px;
  /* transform: translate(160%, 40%); 
  padding: 15px;
  overflow: hidden;
  opacity: 0;
}
.modal.animate__fadeInDown {
  opacity: 1;
  color: white;
  position: absolute;
  z-index: 15;
  background-color: rgba(24, 24, 24, 0.589);

  width: 370px;
  left: 40%;
  top: 30%;
  height: 400px;
  /* transform: translate(500%, 25%); 
  padding: 15px;
  overflow: hidden;
  font-size: 80%;
  transition: 0.3s;
}
.toggle-effect {
  top: 10;
  left: 29;
  position: absolute;
  width: 44%;
  height: 12%;
  background: #ff004c8c;
  border-radius: 30px;

  transition: 0.2s;
}

.top-toggle {
  size: 140%;
  border-radius: 30px;
  background-color: rgb(39, 39, 39);
}
.switch {
  border-radius: 30px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 400;
  color: white;
  padding: 15px;
  background-color: rgb(39, 39, 39);
  border: 0;
  width: 48%;
  margin: 0;
  text-align: center;
}
.modal input {
  margin: 5px;
  border-bottom: 2px solid #c3073f;
  color: white;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  outline: none;
  background: transparent;
  width: 90%;
  height: 35px;
}
.Login {
  outline: none;
  position: absolute;
  width: 350px;
  padding: 15px;
  transition: 0.2s;
  border: none;
  background-color: transparent;
  top: 20%;
}
.signup {
  outline: none;
  border: none;
  position: absolute;
  left: 450px;
  top: 20%;
  background-color: transparent;
  transition: 0.2s;
}*/

.butt {
  background: #c3073f;
  margin-top: 10px;
  font-family: "lato";
  font-weight: 300px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 250px;
  color: white;
  padding: 10px 40px;
  border: none;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 2;
}
.hidden {
  display: none;
}
iframe {
  border: transparent;
  margin-right: 15px;
  margin-left: 15px;
}
/* ------------------------- */
/* ----------descrption boxes---------- */
/* ------------------------- */
.cast,
.description {
  border-top: 2px solid #2b2b2e;
  padding-top: 15px;
  padding: 15px;
}
.description {
  min-height: 250px;
}
#book {
  height: 90px;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 15px;
}

figure figcaption {
  margin: auto;
}
.description figure img {
  width: 150px;
}
.description figure {
  margin: 5px;
  float: left;
}
.long {
  margin-left: 180px;
}
strong {
  margin-bottom: 200px;
}
